<!doctype html>
<html lang="ru">
<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body class="bg-primary text-light">

  <!-- Навигационное меню -->
  <nav class="navbar navbar-expand-lg navbar-custom bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}" style="color: #ffffff;">Поделиться файлами</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'index' %}">Главная</a>
              </li>
              {% if not request.session.user %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'login' %}">Войти</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'signup' %}">Зарегистрироваться</a>
                </li>
              {% else %}
                {% if request.session.user.is_admin %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'file_upload' %}">Загрузить файл</a>
                  </li>
                {% endif %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'settings' %}">Настройки</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
                </li>
              {% endif %}
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-3" type="search" placeholder="Поиск" aria-label="Поиск">
            <button class="btn btn-outline-success" type="submit">Поиск</button>
          </form>
        </div>
      </div>
    </nav>

  <!-- Приветственное сообщение и инструкции -->
  <div class="container mt-5">
    <div class="welcome-message bg-light text-dark p-4 rounded">
      <h2>Добро пожаловать на наш сайт обмена файлами!</h2>
      <p>Здесь вы можете найти все необходимые учебные материалы, предоставленные администрацией. Если вы студент, вы можете легко загрузить необходимые файлы. Важно помнить, что обычные пользователи не могут публиковать файлы, это право ограничено администрацией.</p>
      <p>Для начала работы с сайтом, пожалуйста, зарегистрируйтесь или войдите в свой аккаунт. Это даст вам доступ к загрузкам и дополнительным ресурсам. Пользуйтесь поиском для нахождения конкретных материалов. Если у вас возникнут вопросы, не стесняйтесь обращаться за помощью.</p>
    </div>
  </div>

  {% block body %}
  {% endblock %}
  <!-- Футер -->
  <footer class="text-center mt-10 bg-dark text-light">
    <!-- Копирайт -->
    <div class="site-info">
      ©Copyright <a href="http://biit39.ru" target="_blank" style="color: #ffffff;">АНО ПО "БИТ"</a>
    </div>
  </footer>
  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>
